.1_2 { 
	overflow:hidden;
}.e1_2 { 
	background-image:linear-gradient(0deg, rgba(119.5383708178997, 13.104204833507538, 255, 1) 0%,rgba(12.016167417168617, 11.439585406333208, 12.750000189989805, 0) 100%) ;
	width:1280px;
	height:2143px;
	position:absolute;
}.e1_4 { 
	border-radius:500px;
	background-color:rgba(244.3749949336052, 120.77557682991028, 51.250905096530914, 1);
	width:165px;
	height:112px;
	position:absolute;
	left:108px;
	top:82px;
}.e1_6 { 
	transform: rotate(2.452327252996831deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:119px;
	height:115px;
	position:absolute;
	left:133.7404327392578px;
	top:76.62516021728516px;
}.e1_7 { 
	color:rgba(255, 255, 255, 1);
	width:98px;
	height:39px;
	position:absolute;
	left:453px;
	top:114px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e1_9 { 
	color:rgba(255, 255, 255, 1);
	width:114px;
	height:39px;
	position:absolute;
	left:601px;
	top:114px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e1_10 { 
	color:rgba(255, 255, 255, 1);
	width:157px;
	height:39px;
	position:absolute;
	left:765px;
	top:114px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e1_11 { 
	color:rgba(255, 255, 255, 1);
	width:183px;
	height:39px;
	position:absolute;
	left:972px;
	top:114px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e1_40 { 
	width:584px;
	height:425px;
	position:absolute;
	left:571px;
	top:341px;
	background-image:url(images/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_44 { 
	width:584px;
	height:425px;
	position:absolute;
	left:571px;
	top:341px;
	background-image:url(images/rectangle_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_45 { 
	width:480px;
	height:366px;
	position:absolute;
	left:124px;
	top:1033px;
	background-image:url(images/rectangle_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_49 { 
	width:349px;
	height:276px;
	position:absolute;
	left:765px;
	top:1590px;
	background-image:url(images/rectangle_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_59 { 
	width:208px;
	height:169px;
	position:absolute;
	left:145px;
	top:1697px;
	background-image:url(images/rectangle_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_60 { 
	width:306px;
	height:224px;
	position:absolute;
	left:409px;
	top:1642px;
	background-image:url(images/rectangle_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_50 { 
	width:397px;
	height:183px;
	position:absolute;
	left:146px;
	top:434px;
}.e1_41 { 
	color:rgba(255, 255, 255, 1);
	width:396px;
	height:72px;
	position:absolute;
	left:1px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e1_42 { 
	color:rgba(255, 255, 255, 1);
	width:396px;
	height:72px;
	position:absolute;
	left:0px;
	top:53px;
	font-family:Poppins;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e1_43 { 
	color:rgba(255, 255, 255, 1);
	width:396px;
	height:72px;
	position:absolute;
	left:1px;
	top:111px;
	font-family:Poppins;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e1_61 { 
	width:397px;
	height:243px;
	position:absolute;
	left:758px;
	top:1120px;
}.e1_55 { 
	width:397px;
	height:243px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_56 { 
	color:rgba(255, 255, 255, 1);
	width:396px;
	height:72px;
	position:absolute;
	left:0px;
	top:171px;
	font-family:Poppins;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e1_57 { 
	color:rgba(255, 255, 255, 1);
	width:396px;
	height:72px;
	position:absolute;
	left:1px;
	top:91px;
	font-family:Poppins;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e1_58 { 
	color:rgba(255, 255, 255, 1);
	width:396px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}